# ----------------------
# Aliases
# ----------------------
alias create-mfa-creds="fabric aws-mfa::create-credentials"

# runs task-minder.sh on a command to say done or error
alias mind="sh $HOME/task-minder.sh"

# Git
alias glom='git pull origin master'
alias gcbom=git_checkout_branch_from_origin_master
